.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #111;
  color: white;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:30px
}

.navbar-icon{
    width: 42px;
    height: 42px;
}

.links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.link a {
  color: white;
  text-decoration: none;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #222;
  padding: 10px;
  border-radius: 8px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dropdown-menu a {
  color: white;
  text-decoration: none;
}

.dropdown-menu a:hover {
  color: #ffb400;
}
